<!DOCTYPE html>
<html>
<head>
    <title>Pill Schedule</title>
</head>
<body>
    <h2>Pill Schedule</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Hour</th>
            <th>AM/PM</th>
            <th>Bin Number</th>
            <th>Action</th>
        </tr>
        {% for pill in pills %}
        <tr>
            <td>{{ pill[0] }}</td>
            <td>{{ pill[1] }}</td>
            <td>{{ pill[2] }}</td>
            <td>{{ pill[3] }}</td>
            <td>{{ pill[4] }}</td>
            <td>
                <a href="/edit_pill/{{ pill[0] }}">Edit</a> |
                <a href="/delete_pill/{{ pill[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

